name: Build and test Node.js

on:
  workflow_call:
    inputs:
      test-options:
        description: Arguments to pass to test runner
        default: --coverage
        required: false
        type: string
      docker:
        description: Set to true if Docker is required
        default: false
        type: boolean
        required: false
    secrets:
      CODECOV_TOKEN:
        description: Codecov upload token
        required: false

jobs:
  matrix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
      - id: matrix
        uses: nasa-gcn/node-auto-matrix@c272733d70b185f4d07f92cf508bc23fa7c3785f  # v1.1.0
        with:
          runner-macos: macos-15-intel  # FIXME: https://github.com/nasa-gcn/setup-docker currently requires an Intel runner
    outputs:
      nodeVersion: ${{ steps.matrix.outputs.nodeVersion }}
      runsOn: ${{ steps.matrix.outputs.runsOn }}
  build:
    needs: matrix
    strategy:
      matrix:
        nodeVersion: ${{ fromJson(needs.matrix.outputs.nodeVersion) }}
        runsOn: ${{ fromJson(needs.matrix.outputs.runsOn) }}
    runs-on: ${{ matrix.runsOn }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
      - name: Install Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f  # v6.1.0
        with:
          node-version: ${{ matrix.nodeVersion }}
      - name: Set up Docker
        if: inputs.docker
        uses: nasa-gcn/setup-docker@v1.0.0
      - name: NPM Install
        run: npm ci
      - name: Run eslint linter
        run: npx eslint --max-warnings 0 .
      - name: Run TypeScript compiler
        run: npx tsc
        # Skip if there is no tsconfig.json file
        if: hashFiles('tsconfig.json') != ''
      - name: Run Prettier code style checks
        run: npx prettier -c .
        # Skip prettier checks on Windows due to line endings.
        # See https://prettier.io/docs/en/options.html#end-of-line
        if: ${{ runner.os != 'Windows' }}
      - name: Run unit tests
        run: npm test --if-present -- ${{ inputs.test-options }}
      - name: Upload to Codecov.io
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de  # v5.0.0-beta
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
